<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    
    <div class="container bg-primary p-5">
        <div class="jumbotron">
            <h2><p class="text-justify">Admin view result table</p></h2><br>
            <button type="button" class="btn btn-primary">Click to Insert new</button>
        </div>
        <table class="table table-secondary table-hover table-striped ">
            <thead>
                <tr>
                  <th scope="col">Serial NO</th>
                  <th scope="col">Year</th>
                  <th scope="col">Devision</th>
                  <th scope="col">Roll</th>
                  <th scope="col">Name</th>
                  <th scope="col">Bangla</th>
                  <th scope="col">English</th>
                  <th scope="col">Math</th>
                  <th scope="col">Science</th>
                  <th scope="col">Religion</th>
                  <th scope="col">GPA</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <!-- table body  -->
              <tbody>
                <!--jsp repeat this  -->
                <tr>
                    <th scope="row">1</th>
                    <td>2021</td>
                    <td>Tanvir</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>
                        <button class="btn btn-success">edit</button>
                        <button class="btn btn-danger">delete</button>
                    </td>
                  </tr>
                  <!--jsp repeat this  -->
                <tr>
                    <th scope="row">1</th>
                    <td>2021</td>
                    <td>Tanvir</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>
                        <button class="btn btn-success">edit</button>
                        <button class="btn btn-danger">delete</button>
                    </td>
                  </tr>

               
              </tbody>
              <!-- table body end  -->
        </table>
    </div>
</body>
</html>